In [6]:
print('hello world')

hello world

In [5]:
a=5
b=3
c=3
d=(a+b*c)/2
print(d)

7.0

In [34]:
a=5
b=3.5
c=3+5j
d='perarasan'
print(type(d))
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
print('name:',input())

perarasan
name: perarasan

In [21]:
fees=435
print(type(fees))

<class 'int'>

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
var=0
while var<=10:
    print('hello world.')
    var=var+1

hello world.
hello world.
hello world.
hello world.
hello world.
hello world.
hello world.
hello world.
hello world.
hello world.
hello world.

In [4]:
a='perarasan'
print(a[6])

s

In [10]:
 x=10
 print('Hello world!', x)

Hello world! 10

In [11]:
 71 == 70

False

In [12]:
str(14)

'14'

In [13]:
 print('He is {} years old'.format(str(14)))

He is 14 years old

In [14]:
 int(6.7)

6

In [15]:
40==41

False

In [16]:
50==50.0

True

In [17]:
'man'=='man'

True

In [18]:
'man'=='MAN'

False

In [19]:
 (43< 57) and (3 < 9)

True

In [22]:
(1 == 3) or (4 == 4)

True

In [26]:
2 + 2 == 4 and not 2 + 2 == 6 and 2 * 2 == 2 + 2

True

In [27]:
name = 'Peter'
if name == 'Peter':
    print('Hello, Peter')

Hello, Peter

In [28]:
name = 'Mike'
if name == 'Peter':
    print('Hello, Peter.')
else:
    print('Hello, anonymous')

Hello, anonymous

In [31]:
name = 'Mike'
age = 5
if name == 'Peter':
    print('Hi, Peter.') 
elif age < 10:
    print('Your age is less than 10')
name = 'Mike' 
age = 30
if name == 'Peter':
    print('Hello, Peter.')
elif age < 10:
    print('Your age is less than 12')
else:
    print('Your age is more than 10')

Your age is less than 10
Your age is more than 10

In [32]:
var = 0 
while var < 10:
    print('Hello, world.') 
    var = var + 1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

In [35]:
var = 1
while True:
    print('This block of code is running...')
    if var == 10:
        break
    var += 1
print('Loop exited')

This block of code is running...
This block of code is running...
This block of code is running...
This block of code is running...
This block of code is running...
This block of code is running...
This block of code is running...
This block of code is running...
This block of code is running...
This block of code is running...
Loop exited

In [37]:
var = 0
while var <= 10:
    var += 1
    if var == 5: 
        continue
    print('This block of code is running for number... ', var)
print('Loop exited')

This block of code is running for number...  1
This block of code is running for number...  2
This block of code is running for number...  3
This block of code is running for number...  4
This block of code is running for number...  6
This block of code is running for number...  7
This block of code is running for number...  8
This block of code is running for number...  9
This block of code is running for number...  10
This block of code is running for number...  11
Loop exited

In [38]:
for var in range(1, 10):
    print("Loop running...")
print('Loop exited')

Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop exited

In [39]:
for var in range(1, 20, 2):
    print("Loop running with step size of 2...")
print('Loop exited')

Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop exited

In [46]:
for var in range(1, 11):
    if(var%2==0):
        print("This is even integer") 
else:
    print("This is odd integer")
print('Loop exited')

This is even integer
This is even integer
This is even integer
This is even integer
This is even integer
This is odd integer
Loop exited

In [47]:
import random
for i in range(5):
    print("Random integer is", random.randint(1, 30))

Random integer is 20
Random integer is 30
Random integer is 2
Random integer is 6
Random integer is 30

In [50]:
from collections import Counter
List = [1, 2, 3, 4, 5, 5, 1]
Cnt = Counter(List)
print(Cnt)

Counter({1: 2, 5: 2, 2: 1, 3: 1, 4: 1})

In [51]:
def checkParity(num):
    if(num % 2 == 0):
        print("Number is even")
    else:
        print("Number is odd")
num = 5 
checkParity(num)

Number is odd

In [55]:
def checkParity(num):
    if(num % 2 == 0):
        return "Number is even"
    else:
        return "Number is odd"
num = 4 
parity = checkParity(num)
print(parity)

Number is even

In [56]:
def divideBy(num):
    try:
        print(10 / num)
    except:
        print("Cannot divide by 0")
    finally:
        print("Division finished")
num = 0
divideBy(num)

Cannot divide by 0
Division finished

In [57]:
name = ['David', 'Mike', 'Tommy'] 
age = [10, 31, 54]
for n, a in zip(name, age):
    print('{} is {} years old'.format(n, a))

David is 10 years old
Mike is 31 years old
Tommy is 54 years old

In [59]:
 'pen' in ['cap', 'owl', 'pen', 'rubber']

True

In [60]:
list = ['notebook', 'pen', 'eraser', 'sharpener']
list.index('pen')

1

In [61]:
list = ['car', 'truck', 'bike']
list.append('bicycle')
list

['car', 'truck', 'bike', 'bicycle']